################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
ProyectoFinalDiseño/appsettings.json
*.json
ProyectoFinalDiseño/appsettings.json
/ProyectoFinalDiseño/appsettings.json
/ProyectoFinalDiseño/appsettings.json
