@model ProyectoFinalDiseño.Models.Categoria

<h2>Detalles de Categoría</h2>

<p><strong>Nombre:</strong> @Model.NombreCategoria</p>

<a asp-action="Editar" asp-route-id="@Model.CategoriaID" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>

